@import "../bootstrap/functions";
// must import this function 
@import "../bootstrap/variables";

@import"pages/index";
@import"pages/login";


body
{
    font-family: 'Roboto', sans-serif;
}

.fw-300{
    font-weight: 300px;
}

.fw-500{
    font-weight: 300px;
}

.fw-bold{
    font-weight: bold;
}